:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Raleway", sans-serif;
    --black-text : #252432;
    --grey-text : #8987a1;
    --white-text : #fff;
    --white-card :   linear-gradient(137deg, #1c1c1c 0%, #050505 100%);
    --blue-card : #4e47ff;
    --grey-card : #f5f8ff;
  }

%section-header{




    font-family: var(--second-family);
    font-weight: 700;
    font-size: clamp(2.188rem, 1.53rem + 2.92vw, 3.75rem);
    line-height: 120%;
    color: #252432;
}
%container{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    max-width: 1216px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
[aria-label="burger-label"]{
    
    display: none;
    @media (max-width:900px) {
        display: block;
    }
}
