.container{
    position: relative;
    svg{
        position: absolute;
        transition: 0.4s;
        &:nth-child(2){
            transform: rotate(90deg);
            &.opened{
                transform: rotate(0deg);
            }
        }
    }

}