.questions{
    padding-bottom: 111px;
    .container{
        padding-bottom: 100px; //
        @extend %container;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        
        @media (max-width:768px) {
            display: flex;
            flex-direction: column;
            gap:16px;
            align-items: center;
        }
    }
    .line{
        height: 1px;
        background-color: #d6dded;
        width: 100vw;
    }
    .questions-title{
        @extend %section-header;
        grid-column: 1/6;
        margin-left: 69px;
        margin-top: clamp(0rem, -9.75rem + 20.31vw, 5.688rem);
        @media (max-width:1024px) {
            margin-left: 0px;
        }
        @media (max-width:768px) {
            text-align: center;
        }
    }

    .question__accordion{
        grid-column: 6/13;
        background-color: transparent;
        .accordionTitle{
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 18px;

            /* line-height: 22px; */ 
            line-height: 120%;
            color: #252432;
        }
        .accordionDescription{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;

            /* line-height: 24px; */ 
            line-height: 150%;
            color: #8987a1;
        }
    }

}