.container{
    border-radius: 9px;
    width: 44px;
    height: 44px;
    background-color: --grey-car;
    display: flex;
    justify-content: center;
    align-items: center;
    .img:first-of-type{
        
    }
}